/* CSS file that affects all elements in the index.html */

/* body applies to all content */
/* Adds the background */
body {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-image: var(--background-image);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    user-select: none;
}

.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.desktop-btns {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.desktop-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1em;

    padding: 0.1em;
    width: 100px;
    height: 100px;



    color: var(--color-white-01);
    background-color: transparent;

    border: dashed 1px transparent;
    transition: transform 0.5s, border 0.1s;

    &:hover {
        transform: scale(1.1);
    }

    &:focus {
        border: dashed 1px white;
    }

    &:active {
        border: dashed 1px white;
    }

    & img {
        width: 4em;
        height: 4em;
    }

    & p {

    }
}



header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 1em;
}

#lightingBtn {
    background-color: transparent;
    & img {
        width: 4em;
    }
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}


/* General CSS for each Window */
.closable-window {
    position: absolute;

    width: 40em;
    height: 30em;

    color: black;
    padding: 0.1em;

    user-select: text;

    background-color: var(--color-grey-00);
}

.window-hotbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: -webkit-fill-available;
    height: 1.5em;
    padding: 0.2em 0.3em;
    background-color: var(--color-blue-00);

    user-select: none;

    & .draggable-component {
        display: flex;
        flex-direction: row;
        width: -webkit-fill-available;
        height: -webkit-fill-available;

        & img {
            width: 1em;
            height: 1em;
        }

        & p {
            font-weight: bold;

            color: var(--color-white-01);
        }
    }

    .close-me {
        font-size: 10pt;
        padding: 0.1em;
        font-weight: bold;
        width: 1.5em;
        height: 1.5em;
        -webkit-font-smoothing: none;
        background-color: var(--color-grey-00);

        border-top: solid 1px transparent;
        border-left: solid 1px transparent;

        border-bottom: solid 1px var(--color-black-00);
        border-right: solid 1px var(--color-black-00);

        &:active {
            border-top: solid 1px var(--color-black-00);
            border-left: solid 1px var(--color-black-00);

            border-bottom: solid 1px transparent;
            border-right: solid 1px transparent;

        }
    }
}

.window-open {
    visibility: visible;
}

.window-closed {
    visibility: hidden;
}