/* CSS file that affects all elements in the index.html */

/* body applies to all content */
/* Adds the background */
body {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-image: var(--background-image);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    user-select: none;
}

.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.desktop-btns {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.desktop-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1em;

    padding: 0.1em;
    width: 100px;
    height: 100px;



    color: var(--color-white-01);
    background-color: transparent;

    border: dashed 1px transparent;
    transition: transform 0.5s, border 0.1s;

    &:hover {
        transform: scale(1.1);
    }

    &:focus {
        border: dashed 1px white;
    }

    &:active {
        border: dashed 1px white;
    }

    & img {
        width: 4em;
        height: 4em;
    }

    & p {

    }
}



header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 1em;
}

#lightingBtn {
    background-color: transparent;
    & img {
        width: 4em;
    }
}

.sun-btn {

    border: none;

    transition: transform 1s;

    &:hover {
        border: none;
        transform: rotate(45deg);
    }
    &:active {
        border: none;
        transform: rotate(90deg);
    }

    & #sunImg {
        display: block;
    }
    & #moonImg {
        display: none;
    }
}

.moon-btn {
    border: none;
    background-color: transparent;
    transition: transform 1s;

    &:hover {
        border: none;
        transform: rotate(-45deg);
    }
    &:active {
        border: none;
        transform: rotate(-90deg);
    }

    & #sunImg {
        display: none;
    }
    & #moonImg {
        display: block
    }
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: calc(max(100vw, 100%) - 1em);
    height: 2.5em;

    padding: 0.25em 0.5em;
    border-top: solid 0.2em white;

    background-color: var(--color-grey-00);
}

#start-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 10px;
    padding: 0.2em 0.5em;

    height: -webkit-fill-available;

    font-size: 10pt;
    font-weight: bold;
    background-color: var(--color-grey-00);

    border-top: solid 0.1em gray;
    border-left: solid 0.1em  gray;

    border-bottom: solid 0.1em  var(--color-black-00);
    border-right: solid 0.1em  var(--color-black-00);

    &:active {
        border-top: solid 0.1em  var(--color-black-00);
        border-left: solid 0.1em var(--color-black-00);

        border-bottom: solid 0.1em  gray;
        border-right: solid 0.1em  gray;
    }

    & img {
        width: 2em;
        height: 2em;
    }
}

#copyright {

}